@font-face {
	font-family: PWChalk;
	src: local(chalk.ttf);
}

* {
	font-family: PWChalk;	
}

.container-flex {	
	margin: 50px auto;
	width: 750px;
	height: 549px;
}

/*----- Abacus layout ------*/

#framework {	
	background-image: url("../img/wood.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	height: 82%;
	width: 100%;
	padding: 1px;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

#upper-row {		
	margin: 25px auto 0;	
	height: 22%;
	width: 90%;
	background-image: url("../img/wood-background.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

#lower-row {	
	margin: 18px auto 0;	
	height: 60%;
	width: 90%;
	background-image: url("../img/wood-background.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

.col-10 {
	display: block;
	float: left;
	width: 10%;
	height: 100%;
	margin: 0;
}

/*------ abacus components ------*/

.vertical-line {
	width: 8%;
	height: 100%;
	background-color: #888;
	border: 1px solid #000;
	margin: 0 auto;
	z-index: -1;
}

#framework img {
	position: relative;		
	width: 100%;
	cursor: pointer;
}

.ball5 {
	bottom: 96px;
}

.ball4 {
	bottom: 192px;
}

.ball3 {
	bottom: 212px;
}

.ball2 {
	bottom: 232px;
}

.ball1 {
	bottom: 252px;
}

/*------- console layout -------*/

#console {
	height: 80px;
}

#operands {	
	float: left;	
	width: 68%;
	height: 100%;		
}

#display {	
	float: left;	
	background-image: url("../img/blackboard.jpg");
    background-size: 80px 40px;	
    border: 2px solid #2C1910;
	border-radius: 5px;	
	width: 32%;
	height: 75%;
	margin: 10px 0;			
}

#display p {	
	color: #CCC;	
	font-size: 2.8em;	
	text-align: center;
	
}

.operands-buttons {		
	padding: 11px 10px;	
	cursor: pointer;
	width: 16%;
}

