.container {	
	height: 380px;
}

#framework {	
	background-image: url("../img/wood.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	height: 100%;
	padding: 1px;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

#upper-row {		
	margin: 25px auto 0;	
	height: 22%;
	width: 90%;
	background-image: url("../img/wood-background.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

#lower-row {	
	margin: 18px auto 0;	
	height: 60%;
	width: 90%;
	background-image: url("../img/wood-background.jpg");
    background-size: 80px 60px;
	background-repeat: repeat;
	border: 5px solid #2C1910;
	border-radius: 5px;
}

.col-10 {
	display: block;
	float: left;
	width: 10%;
	height: 100%;
	margin: 0;
}

.vertical-line {
	width: 8%;
	height: 100%;
	background-color: #888;
	border: 1px solid #000;
	margin: 0 auto;
	z-index: -1;
}

img {
	position: relative;		
	width: 100%;
	cursor: pointer;
}

.ball5 {
	bottom: 80px;
}

.ball4 {
	bottom: 184px;
}

.ball3 {
	bottom: 203px;
}

.ball2 {
	bottom: 222px;
}

.ball1 {
	bottom: 241px;
}